@charset "utf-8";

body {
	font-family:'명조','맑은 고딕',돋움,sans-serif;
	font-size: 18px;
	color:#333;}

h1{
	background-color: purple;
	color: orange;
	padding: 5px 20px;
}

table > thead{
	background-color: maroon;
	color: white;	
	height: 30px;
	font-size: 16px;
	vertical-align: middle;
}

table > thead > td.price {
	width: 100px;
}

tbody {
	vertical-align: top;
}