@charset "utf-8";
/* 기본 pc */
html {
	background: url(image/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg) no-repeat fixed 0 0/cover;
	font-family: 'Jomhuria','Roboto', sans-serif, cursive;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}
body {
	margin: 0;
}
nav a {
	text-decoration: none;
	display: block;
	color: #fff;
	width: 150px; height: 46px;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
	box-sizing: border-box;
}

nav > .gnb {
	margin: 0; padding: 0;
	list-style: none;
	width: 100%; height: 46px;
	line-height: 1.5; /* 적용된 서체가 가지고 있는 행간의 문제로 작성 */
	background-color: rgba(167, 101, 153, 0.6);
	box-shadow: 0 2px #5f3760;

	display: flex;
	justify-content: center;
	/* align-items: center; */
}

nav > .gnb > li:last-child > a {
	border-right: none;
}

nav a#moblie_menu {
	display: none;
}

nav > .gnb > li > a:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width:1200px) {
	
}