@charset 'utf-8';
/***** index *****/
main .contents {
  overflow: hidden;
}
main .contents section {
  float: left;
}
main .contents figure {
  margin:0;
  text-align: right;
  font-size:14px;
  line-height:2;
}
main .contents .txt_box {/* 980 - 255 - 255 - 25 - 25 */
  width:420px;
}
main .contents .img_box {
  width:255px;
  margin-left:25px;
}
main .contents .txt_box h2 {
  font-size:29px;
  font-family:'Cormorant', serif;
  margin:20px 0 8px;
}
main .contents .txt_box p {
  margin:0;
}
main .contents .img_box h2 {
  font-size:24px;
  font-family:'Cormorant', serif;
  margin:20px 0 10px;
}



