@charset "utf-8";

body {
  margin: 0 auto;
  text-align: center;
}

img[alt="logo"] {
  margin-top: 80px;
}

div.menu {
  font-size: 16px;
  font-family: Helvetica, sans-serif;

  padding: 60px 0;
}

a {
  padding: 20px;
  text-decoration: none;
  color: rgb(88, 89, 91);
}

img[alt="home"] {
  width: 90%;
}
