@charset "utf-8";

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
img {
  display: block;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}

/* header */

header .utiLi {
  background-color: #000;
  display: flex;

  justify-content: flex-end;
}

header .utiLi a {
  color: #fff;
  padding: 5px 20px;
  font-size: 0.8rem;
}

header .gnb {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  left: 50px;
  font-weight: 700;
  white-space: nowrap;
}
header .gnb h1 {
  font-size: 0;
  background-image: url(images/logo.jpg);
  width: 105px;
  height: 85px;
  background-repeat: no-repeat;
  padding-right: 200px;
}
header .gnb a {
  padding: 30px;
}
header .gnb a:hover {
  background-color: #000;
  color: #fff;
}

/* main */

main > img {
  width: 100vw;
}

main .icons {
  display: flex;

  margin: 50px auto;
  width: 60vw;
  justify-content: space-around;
}
main .icons p {
  margin-top: 5px;
}
main .icons a:hover {
  color: red;
}

main .product {
  display: flex;

  margin: 50px auto;
  width: 50vw;
}
main .product img {
}
main .product section {
  text-align: left;
  display: flex;

  padding: 30px 0;
  justify-content: space-around;
  flex-flow: column;
}
main .product section button {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}

main .guide {
  display: flex;
  background-color: #ddd;
  padding: 50px 0;

  justify-content: center;
}

main .guide article {
  background-color: #fff;
  border: 1px solid #000;
  padding: 20px 40px;
}
main .guide article:first-child {
  margin-right: 100px;
}
main .guide article p {
  padding-top: 1rem;
}

main .gallery {
  display: flex;

  width: 50vw;
  margin: 50px auto;
  justify-content: center;
}
main .gallery figcaption {
  margin-top: 1rem;
}
main .gallery a:hover {
  color: red;
}

main .phoneNumber {
  background: url(images/bg_tel2.jpg) no-repeat;
  background-position: 50% 50%;
  padding: 50px 0;
  color: #fff;
}
main .phoneNumber h2 {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}
main .phoneNumber p:first-of-type {
  font-size: 2rem;
}

main .SNS {
  display: flex;
  width: 10vw;
  margin: 50px auto;

  justify-content: space-around;
}

main .SNS img {
  width: 30px;
  height: 30px;
}

/* footer */

footer address {
  font-style: normal;
  margin-bottom: 1rem;
  color: #333;
}

footer address p {
  margin-top: 1rem;
}
