@charset "utf-8";

	body{
		background-color:#ffaaa7;
	}	

	h2{
		background-color:#98ddca;
	}

	#box1{
		color:#d5ecc2;
	}

	#box2{
		color:#ffd3b4;
	}

	#box3{
		color:#ffc996;
	}

	#box4{
		color:#ff8474;
	}
