@charset "utf-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.2rem;
	text-align: center;
}

ul{list-style: none; padding: 0; margin: 0;}
img {display: block;}
h1, h2, h3 {margin: 0;}
a {color: #000; text-decoration: none; display: block;}
em{font-style: normal;}

/* header */
header {
}
header h1 a {
	position: absolute;
	top: 43px; left: 100px;
}

header .utilLi, header .gnb {
	display: flex;
	flex-flow: row nowrap;
}

header .utilLi{
	position: relative;
	background-color: #000;
	justify-content: flex-end;
}

header .utilLi li:nth-child(odd) a{
	color:#fff;
	font-size: 1rem;
	font-weight: 300;
	text-align: right;
	padding:5px 18px;
}

header .gnb {
	position: relative;
	left: 105px;
	justify-content: center;
	align-items: center;
	
}

header .gnb a{
	height: 85px; line-height: 85px;
	width: 150px;
}

header .gnb a:hover{
	color: #fff;
	background-color: #000;
}

/* main */

main > img {width: 100vw;}

.icons {
	width: 60vw;
	margin: 0 auto; padding: 100px;
	display: flex;
	justify-content: space-around;
}

main .pro {
	display: flex;
	flex-flow: column wrap;
	width: 60vw;
	margin: 0 auto;
}
main .pro img {
	width: 30vw;
}
main section {
	width: 30x`vw;
	text-align: left;
}

main input[type=button] {
	width: 100px; height: 40px;
	border-radius: 10px;
	background-color: #fff;
}

main .wrap {
	display: flex;
	justify-content: center;
	background-color: #ddd;
	
}

main .wrap article {
	border: 1px solid #000;
	padding: 2% 3%; margin: 2vw;
	background-color: #fff;
}

main .gallery {
	display: flex;
	justify-content: center;
	margin: 100px 0;
}

main .gallery a:hover{
	color:maroon;
}

main .phoneNumber {
	background: url(images/bg_tel2.jpg) no-repeat ; 
	background-position: 100% 50%;
background-size: 100%;
}

main .phoneNumber section {
	padding: 100px 0;
}

main .phoneNumber h2 {
	font-size: 2rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}

main .phoneNumber p {
	color: #fff;
	text-align: center;
	margin: 0;
	
}

main .phoneNumber p:first-of-type{
	font-size: 3rem;
}

.sns {
	
	display: flex;
	justify-content: center;

}

.sns i {
	padding: 50px;
}
/* footer */

footer address {
	font-style: normal;
}