@charset "utf-8";
/* common */
html {
  background-image: url(asset/images/hotel-wallpaper-black.png);
  font-family:'SpoqaHanSansNeo',-apple-system,BlinkMacSystemFont,"Helvetica Neue","Apple SD Gothic Neo",Arial,sans-serif;
  font-weight: normal;
}
ul {
  list-style:none;
  margin:0; padding:0;
}
a {
  color:inherit; 
  text-decoration: none;
}
img {
  vertical-align:bottom;
}

/******* 모바일 *******/
.container {
  width:100%;
  margin:0 auto;
  text-align: center;
  color:#fff;

  display:flex;
  flex-direction:column;/* 주축의 값 세로 */
}
.container > * {
  box-sizing:border-box;
}

/* 인포 */
.container > .info {
  background-color: darkorange;
  width:100%;
  order:1;
}
.container > .info > .info_list {
  display:flex;
  justify-content: space-around;
  align-items: center;

  height:50px;
}
/*
.container > .info > .info_list > li { width:25%; }
.container > .info > .info_list > li > a { display:block; padding:20px 0;}
*/

/*** 머리말 ***/
.container > header {
  position: relative;
  order:2;
}
.container > header > h1 { 
  background-color: #f72585;
  margin:0;
  width:100%; height:90px;
  line-height:90px;
  font-family:'Zen Loop',Arial, Helvetica, cursive;
  font-size:60px;
}
.container > header > nav { 
  background-color: #b5179e;
  display:none;
}
.container > header > nav > .gnb a {
  display: block;
  /* width:calc(100% - 60px); */
  width:100%;
  font-size:18px;
  text-align: left;
  border-bottom:1px solid rgba(255,255,255,0.6);
  padding:14px 30px;
  box-sizing:border-box;
}
.container > header > .mobile_btn { 
  background:url(asset/images/navBtn.svg) no-repeat 50% / contain;
  text-indent:-9999px;
  width:35px; height:35px;
  position: absolute;
  top:20px; right:12px;
}
/*** main ***/
/* 슬라이드 */
.container > .slider { 
  order:3;
  background: url(asset/images/banner.JPG) no-repeat 50% 0 / cover;
  height:400px;  
}
.container > .slider > h2,
.container > .slider > div {
  display: none;
}
/* 최근글 */
.container > .latest { 
  order:4;
  background-color: #7209b7;  
  padding:20px 60px 50px;
}
/* 인기글 */
.container > .popular { 
  order:5;
  background-color: #480ca8;  
  padding:20px 50px 50px;
  
}
.container > .popular > .popular_list,
.container > .latest > .latest_list  {
  list-style:circle;
}
/* 
.container > .latest > .latest_list > li {
  background: url(asset/images/post.png) no-repeat 0 50%;
  padding-left: 20px;
} 
*/
.container > .latest > .latest_list > li,
.container > .popular > .popular_list > li {
  text-align: left;
}
/* 갤러리 */
.container > .gallery { 
  order:6;
  background-color: #3a0ca3;  
  padding:40px;
}
.container > .gallery > .gallery_list img {
  max-width:100%;
}
/* 랭킹 */
.container > .ranking { 
  order:7;
  background-color: #3f37c9; 
  padding:40px;
}
.container > .ranking > .ranking_list {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
.container > .ranking > .ranking_list > li {
  width:42%;
  border:1px solid #fff;
  background-color: rgba(0,0,0,.5);
  padding:10px; margin:3px;
}
/* 배너 */
.container > .banner { 
  order:8;
}
.container > .banner > .banner1 { 
  background-color: #4361ee; 
  height:50%; 
  margin:0;
  padding:40px;
}
.container > .banner > .banner2 { 
  background-color: #4895ef; 
  height:50%; 
  margin:0;
  padding:40px;

  display: flex;
  justify-content: space-around;
}
/* sns */
.container > .sns { 
  order:9; 
  background-color:#fff; 
  padding:40px;
}
.container > .sns > h2 {
  display: none;
}
.container > .sns > .sns_list {
  display:flex;
  justify-content: space-around;
}

/*** 바닥글 ***/
.container > footer { 
  order:10;
  background-color:#4cc9f0;
  height:60px; line-height:60px;
  /* width:100%; flex-grow와 width 중 하나만 작성 */
  flex-grow:1;/* 플렉스 아이템에 적용. 영역이 남을 때 채움 */
  font-size:18px;
  color:#000;
  font-family:'Zen Loop',Arial, Helvetica, cursive;
}

/******* 태블릿 *******/
/******* PC *******/